*{
	box-sizing: border-box;
	text-decoration: none;
	border-style: none;
	list-style-type: none;
    outline-style: none;
}
body{
    padding: 0;
	margin: 0;
    font: 14px 'Open Sans', sans-serif;
}

.container{
    width: 1200px;
    margin: auto;
}