.footer{
    background-color: #343434;
    padding-top: 50px;
    padding-bottom: 50px;

    .items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;

        .item {
            height: 141px;

            input[type="email"] {
                width: 140px;
                height: 35px;
                border-radius: 40px;
                padding-left: 10px;
                color: #343434;
                margin-left: 20px;
            }
            input.submit {
                width: 50px;
                height: 35px;
                background-color: #23a592;
                color: #fff;
                border-radius: 30px;
                border: 2px solid #23a592;
                cursor: pointer;
                &:hover{
                    background-color: #343434;
                }
            }

            .social{
                justify-content: start;
                display: grid;
                grid-template-columns: 0fr 0fr 0fr 0fr;
    
                a{
                    margin-left: 24px;
                    margin-left: 24px;
                    font-size: 20px;
                    color: $white;
                }
    
                
                a:hover{
                    color: $auqva;
                }
    
            }

            .text{
                color: $white;
                font-family: montserrat,sans-serif;
                font-weight: 700;
                font-size: 15px;
                letter-spacing: 1px;
                margin: 10px 23px;
                text-transform: uppercase;

            }
            .number{
                color: #fff;
                margin-top: 20px;
                font-size: 18px;
                margin-left: 22px;
            }
        }
    }
}